<%- include("header") -%>

<h2>This is the about me page</h2>

<p>Lorem ipsumLorem 
    Lorem ipsum
    Lorem ipsum

    Lorem ipsum

    Lorem ipsum

    Lorem ipsum
    Lorem ipsum

    Lorem ipsum

        Lorem ipsum

    
</p>

<%- include("footer") -%>